.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: rgb(209, 59, 255);
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
  position: relative;
  bottom: 50px;
  left: 100px;
  border-radius: 5px;
  background-color: red;
  color: #fff;
}
